In [3]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('example.db')  # Replace with your database file path

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Create a table to store data
cursor.execute('''CREATE TABLE IF NOT EXISTS users
                  (id INTEGER PRIMARY KEY AUTOINCREMENT,
                   name TEXT,
                   email TEXT)''')

# Insert data into the table
user_data = [('John Doe', 'john.doe@example.com'),
             ('Jane Smith', 'jane.smith@example.com')]

cursor.executemany('INSERT INTO users (name, email) VALUES (?, ?)', user_data)

# Commit the changes to the database
conn.commit()

In [4]:
# Retrieve data from the table
cursor.execute('SELECT * FROM users')
result = cursor.fetchall()

# Print the retrieved data
for row in result:
    print(f"ID: {row[0]}, Name: {row[1]}, Email: {row[2]}")

# Close the cursor and the database connection
cursor.close()
conn.close()

ID: 1, Name: John Doe, Email: john.doe@example.com
ID: 2, Name: Jane Smith, Email: jane.smith@example.com
ID: 3, Name: John Doe, Email: john.doe@example.com
ID: 4, Name: Jane Smith, Email: jane.smith@example.com

In [17]:
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Execute a query to retrieve data from a table
cursor.execute("drop table attendance_record;")
rows = cursor.fetchall()

# Iterate over the rows and print the data
for row in rows:
    print(row)

cursor.close()
conn.close()

OperationalError: no such table: attendance_record

In [3]:
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create the "attendance_record" table
cursor.execute("""
    CREATE TABLE if not EXISTS attendance_record (
        id_no INTEGER,
        time TEXT,
        name TEXT,
        expressions TEXT,
        uniform_status TEXT,
        PRIMARY KEY (id_no, time)
    )
""")

conn.commit()
cursor.close()
conn.close()

In [4]:
def extract_attendance_records():
    conn = sqlite3.connect('example.db')
    cursor = conn.cursor()

    # Execute the SELECT query to retrieve all rows from the table
    cursor.execute("SELECT * FROM attendance_record")
    rows = cursor.fetchall()

    # Print or process the retrieved data
    for row in rows:
        print(row)  # Replace with your desired processing

    cursor.close()
    conn.close()

In [5]:
extract_attendance_records()

('emp2', '05:35:19', 'user', 'happy', 'complete')
('emp2', '05:37:44', 'user', 'happy', 'complete')
('emp3', '10:39:31', 'user', 'happy', 'complete')
('random2', '10:36:45', 'user', 'fear', 'complete')
('random2', '10:38:03', 'user', 'fear', 'complete')
('random1', '10:38:42', 'user', 'happy', 'complete')
('random2', '10:41:36', 'user', 'fear', 'complete')
('emp_4', '10:42:45', 'user', 'fear', 'complete')

In [24]:
type(extract_attendance_records())

('emp2', '05:35:19', 'user', 'happy', 'complete')
('emp2', '05:37:44', 'user', 'happy', 'complete')
('emp3', '10:39:31', 'user', 'happy', 'complete')

NoneType

In [6]:
sqlite3 example.db

SyntaxError: invalid syntax (1178033717.py, line 1)

In [3]:
import sqlite3
# Replace 'your_database.db' with the path to your SQLite database file
conn = sqlite3.connect('example.db')
cursor = conn.cursor()
# Retrieve the list of tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
# Print the list of tables
for table in tables:
    print(table[0])
conn.close()

sqlite_sequence
attendance_record
students_record

In [12]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create the students_record table
cursor.execute('''
    CREATE TABLE students_record (
        img TEXT,
        emp_id INTEGER PRIMARY KEY,
        name TEXT,
        class TEXT,
        contact_info TEXT,
        address TEXT
    )
''')

# Commit the changes and close the connection
conn.commit()
conn.close()

In [1]:
import sqlite3

conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Execute a query to retrieve data from a table
cursor.execute("drop table students_record;")
rows = cursor.fetchall()

# Iterate over the rows and print the data
for row in rows:
    print(row)

cursor.close()
conn.close()

In [2]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

# Create the students_record table
cursor.execute('''
    CREATE TABLE students_record (
        img TEXT,
        emp_id Text PRIMARY KEY,
        name TEXT,
        class TEXT,
        contact_info TEXT,
        address TEXT
    )
''')

# Insert the dummy data
students_data = [
    ('employees/emp1.jpeg', 'emp1' , 'John Doe', '10th Grade', 'john.doe@example.com', '123 Main Street'),
    ('employees/emp2.jpeg', 'emp2' , 'Jane Smith', '9th Grade', 'jane.smith@example.com', '456 Elm Street'),
    ('employees/emp3.jpeg', 'emp3', 'Michael Johnson', '11th Grade', 'michael.johnson@example.com', '789 Oak Avenue'),
    ('employees/emp4.png', 'emp4', 'Emily Davis', '12th Grade', 'emily.davis@example.com', '321 Pine Road'),
    ('employees/emp5.jpg', 'emp5', 'David Wilson', '10th Grade', 'david.wilson@example.com', '654 Maple Lane')
]

cursor.executemany('''
    INSERT INTO students_record (img, emp_id, name, class, contact_info, address)
    VALUES (?, ?, ?, ?, ?, ?)
''', students_data)

# Commit the changes and close the connection
conn.commit()
conn.close()